			<!-- One -->
			<section id="about">
				<div class="image main" data-position="center">
					<img src="/images/science-world.jpg" alt="" />
				</div>
				<div class="container">
					<header class="major">
						<h2>Hi, I'm Nate.</h2>
						<p>I like building things and solving difficult problems.</p>
					</header>
					<p>I like Node.js, Javascript, HTML, CSS, React, IoT, Linux, Docker, C, FreeRTOS, Python, data visualization, electronics, CAD, 3D printing, and automation.</p>
				</div>
			</section>