			<!-- Four -->
			<section id="contact">
				<div class="container">
					<h3>Contact Me</h3>
			<ul class="icons">
				<li><a href="https://github.com/nated0g" class="icon brands fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://twitter.com/nate_usher" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.linkedin.com/in/nate-usher-a44095231/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
				<li><a href="mailto:n.usher87@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			</ul>
					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non.
						Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
					<form method="POST" action="https://formsubmit.co/n.usher87@gmail.com" enctype="multpart/form-data">
						<div class="row gtr-uniform">
							<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" required/></div>
							<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" required /></div>
							<div class="col-12"><input type="text" name="_subject" id="subject" placeholder="Subject" required />
							</div>
							<input type="hidden" name="_next" value="http://www.nateusher.com/">
							<input type="text" name="_honey" style="display:none">
							<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" class="primary" value="Send Message" /></li>
									<li><input type="reset" value="Reset Form" /></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>