			<!-- Two -->
			<section id="skills">
				<div class="container">
					<h3>Things I Can Do</h3>
					<p>Here is a list of tools and technologies I have used on projects that went to production.  The list is roughly ordered by how many years of experience I have with each technology.</p>
					<h4>Used In Production</h4>
					<ul class="feature-icons">
						<li class="icon solid fa-microchip">Embedded C Development</li>
						<li class="icon solid fa-microchip">FreeRTOS</li>
						<li class="icon regular brands fa-node-js">Node.js</li>
						<li class="icon regular brands fa-linux">Linux</li>
						<li class="icon solid fa-database">PostgreSQL</li>
						<li class="icon regular brands fa-docker">Docker</li>
						<li class="icon regular brands fa-python">Python</li>
						<li class="icon solid fa-cube">CAD & 3D Modelling</li>
						<li class="icon regular brands fa-react">React</li>
						<li class="icon solid fa-microchip">PCB Design</li>
						<li class="icon solid fa-code-branch">Git & Github</li>
						<li class="icon solid fa-wifi">MQTT</li>
						<li class="icon solid fa-chart-area">Data Vis (Grafana, Prometheus)</li>
						<li class="icon solid fa-industry">PLC/SCADA/Modbus</li>
						<li class="icon solid fa-code">HTML/CSS/Javascript</li>
						<li class="icon solid fa-database">InfluxDB</li>
						<li class="icon regular brands fa-google">GCP (Firebase, Cloud IoT Core)</li>
						<li class="icon solid fa-code">TailwindCSS & Bootstrap</li>
					</ul>
					<h4>Hobby Projects & Experiments</h4>
					<ul class="feature-icons">
						<li class="icon solid fa-leaf">MongoDB</li>
						<li class="icon solid fa-laptop-code">Golang</li>
						<li class="icon solid fa-dharmachakra">Kubernetes</li>
						</ul>
				</div>
			</section>