{{ define "main" }}
{{- partial "hero.html" . -}}
<!-- Three -->
<section id="blog">
  <div class="container">
    <h3>Projects</h3>
    <p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non.
      Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
    <div class="features">
      {{ range .Pages.ByPublishDate.Reverse }}
      <article>
        <a href="{{ .RelPermalink }}" class="image"><img src="{{ .RelPermalink }}{{ .Params.image }}" alt="" /></a>
        <div class="inner">
          <a href="{{ .RelPermalink }}">
            
          <h4>{{ .Title }}</h4>
          {{ partial "metadata.html" . }}
          <p>{{ .Summary }} </p>
          </a>
        </div>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}