
{{ define "main" }}
{{- partial "about.html" . -}}
{{- partial "skills.html" . -}}
<!-- Three -->
<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <p>A list of past projects.  This includes freelance clients, open source contributions, and personal projects.  They are listed in chronological order, with the most recent projects at the top.</p>
    <div class="features">
      {{ range (where .Site.RegularPages "Section" "projects").ByPublishDate.Reverse }}
      {{ $.Scratch.Add "i" 1 }}
      {{ $i := $.Scratch.Get "i" }}
      <article>
        {{ if modBool $i 2 }}
        <div class="inner" style="clear:both">
          <h4>{{ .Title }}</h4>
          {{ .Summary }}
        </div>
        <img style="float:left" src="{{ .RelPermalink }}{{ .Params.image }}" alt="" />
        {{ else }}
        <img style="float:right" src="{{ .RelPermalink }}{{ .Params.image }}" alt="" />
        <div class="inner" style="clear:both">
          <h4>{{ .Title }}</h4>
          {{ .Summary }}
        </div>
        {{ end }}
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{- partial "contact.html" . -}}
{{ end }}